
:root{
   --main-content-bg : #f7f7f7;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

img{
    max-width: 100%;
}

.main-nav{
    height: 64px;
    line-height: 64px;
    background-color: white;
}

.main-nav__content{
    padding: 0 28px;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: auto auto auto;
    justify-content: start;

}

.main-nav__logo{
    width: 45px;
    
}


.main-nav__btnMenu{
    margin-right: 15px;
    cursor: pointer;
}



.asideMainMenu{
    transform: translateX(-100%); 
    width: 300px;
}

 