.book-info-wrapper{
    width: 91%;
    margin: 0 auto;
    /* padding-left: 5rem; */
    /* max-width: 700px; */
}

.book-info{
     display: grid;
     grid-template-columns: 100px 1fr;
     grid-gap: 0 15px;
     margin-bottom: 1rem;
}

.book-actions{
    margin-bottom: 1rem;
}

.book-comentaries{
    margin-top: 2rem;
}