body{
    background-color: var( --main-content-bg);
}

 

.cat-w-books-wrapper{
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding-top: 1rem;
   
}

.cat-w-books-books{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 155px));
    grid-gap: 20px 20px;
    margin: 0 auto;
 
}

.cat-w-books-wrapper__row{
    margin-bottom: 20px;
}

.cat-w-books-wrapper__row  h1{
    text-transform: capitalize;
}

@media only screen and (min-width: 992px) {
    .cat-w-books-wrapper{
        max-width: 915px;
        padding-top: 2rem;
    }

 
    .cat-w-books-books{
        /* grid-template-columns: repeat(auto-fit, minmax(135px, 1fr)); */
        grid-gap: 50px 40px;
      
    }
  }

 
  

  @media only screen and (min-width:1300px) {
    .cat-w-books-wrapper{
        max-width: 1300px;
    }

    


}