.book-info-wrapper{
    width: 91%;
    margin: 0 auto;
    padding-top: 2rem;
    max-width: 750px;
}

.book-info{
     display: grid;
     grid-template-columns: 100px 1fr;
     grid-gap: 0 15px;
     margin-bottom: 1rem;
}

.book-actions{
    margin-bottom: 1rem;
}

.book-comentaries{
    margin-top: 2rem;
}


@media only screen and (min-width: 900px) {
    .book-info-wrapper{
        margin-left: 100px;
        padding-right: 100px;
        max-width: 900px;
    }
     
  }